@model Career

<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">@Model.Category</h2>
            <h6 class="card-subtitle mb-2 text-body-secondary">Details for @Model.Category</h6>
            <p class="card-text">@Model.Description</p>
            <a asp-action="Edit" class="card-link btn btn-info" asp-route-id="@Model.Id">Edit</a>
            <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger float-end" asp-route-id="@Model.Id"> Delete</a>


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel"><h6 class="text-danger">Are you sure you want to delete the @Model.Category Career</h6></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                       
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel Delete</button>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <p></p>
</div>